<form (ngSubmit)="addPosts(); form.reset()" #form="ngForm">
  <div>
    <label for="create[user]">Identifiant </label>
    <select name="user" id="create[user]" [(ngModel)]="newPost.user" required >
      <option *ngFor="let user of userList" value= "{{ user.name }}">{{user.name}}</option>
    </select>
  </div>
  <div>
    <label for="create[message]">Message</label>
    <textarea type="text" id="create[message]" name="name" [(ngModel)]="newPost.message" required #inputName="ngModel"></textarea>
  </div>
  <button [disabled]="form.invalid">Insèrez votre commentaire</button>
</form>